.board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.whiteSquare {
  border: 1px solid #000000;
  width: 98px;
  height: 98px;
  background-color: #FFFFFF;
}

.blackSquare {
  width: 100px;
  height: 100px;
  background-color: #000000;
}